@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,700;1,100&display=swap");

:root {
  --accent: #fcbdbd;
  --accentHover: #de8a86;
  --light: #ffff;
  --transition: all 0.3s ease 0s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
  overflow: auto;
}

body {
  background:  url(/files/background.jpg);
  background-position: center;
}

p, a, button {
  font-family: "Sarabun", sans-serif;
  color: var(--light);
  text-decoration: none;

}
a, button, .logo {
  cursor: pointer;
}

.logo{
  margin-top: 30px;
}
main {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(60px , 1fr) repeat(6, minmax(50px, 190px)) minmax(60px, 1fr);
}

header {
  grid-column: 2 / span 6;
}

nav {
  display: flex;
  align-items: center;
  height: 120px;
}
.links {
  margin-left: auto;
}
.links a, .links button{
   font-size: 1.0625rem;
   font-weight: 400;
   transition: var(--transition);

}
.links a{
  margin-left: 50px;
}

.links a:hover {
  color: var(--accent);
}

.button_med {
  border: none;
  background-color: var(--accent);
  padding: 10px 50px;
  transition: var(--transition);
}

.button_med:hover{
  background-color: var(--accentHover);
}

.info {
  grid-column: 2 / span 2;
}

.info {
  margin-left: 1000px;
  margin-bottom: 130px;
}
.hero_font {
   color: var(--light);
   font-family: "Sarabun", sans-serif;
   font-weight: 800;
   font-size: 4.375rem;
}


@media only screen and (max-width: 1100px){

  .hero_font{
    font-size: 2.1875rem;
  }
}



