@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,700;1,100&display=swap");
* {
  font-family: "Sarabun", san-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#F5DDDD), to(#8e60c4));
  background: linear-gradient(to right, #F5DDDD, #8e60c4);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  padding: 0.8rem 1rem;
  width: 22rem;
  border-radius: 0.2rem;
  border: #F99D9D 0.01rem solid;
  color: #F99D9D;
  background-color: #F5DDDD;
  margin-bottom: 0.8rem;
  font-size: large;
}

input::-webkit-input-placeholder {
  color: #f99d9d;
}

input:-ms-input-placeholder {
  color: #f99d9d;
}

input::-ms-input-placeholder {
  color: #f99d9d;
}

input::placeholder {
  color: #f99d9d;
}

.home {
  background-image: url("./files/background.jpg");
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.home nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home nav .logo {
  margin-left: 50px;
  margin-top: 30px;
}

.home nav .links {
  margin-left: auto;
  margin-top: 50px;
}

.home nav .links .search_ads {
  margin-right: 100px;
  padding: 0.8rem 1.5rem;
  width: 22rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  font-size: medium;
  background-color: #F99D9D;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.home nav .links .search_ads:hover {
  background: #f33d3d radial-gradient(circle, transparent 1%, #f33d3d 1%) center/15000%;
}

.home nav .links .search_ads:active {
  background-color: #ee0f0f;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.home nav .links .button_med {
  margin-right: 100px;
  padding: 0.8rem 1.5rem;
  width: 10rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  font-size: medium;
  background-color: #F99D9D;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.home nav .links .button_med:hover {
  background: #f33d3d radial-gradient(circle, transparent 1%, #f33d3d 1%) center/15000%;
}

.home .info {
  margin-left: 1400px;
  margin-top: 250px;
}

.home .info .hero_font {
  color: white;
  font-weight: 800;
  font-size: 4.375rem;
}

.container {
  height: 75vh;
  width: 60vw;
  background-color: white;
}

.container .section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  border-bottom: 0.05rem #F99D9D solid;
}

.container .section-one .title {
  margin-bottom: 2rem;
}

.container .section-one .main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .section-one .main-form button {
  padding: 0.8rem 1.5rem;
  width: 22rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  font-size: medium;
  background-color: #f99d9d;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.container .section-one .main-form button:hover {
  background: #f33d3d radial-gradient(circle, transparent 1%, #f33d3d 1%) center/15000%;
}

.container .section-one .main-form button:active {
  background-color: #ee0f0f;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.container .section-one .main-form a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F99D9D;
  font-weight: bold;
  margin-bottom: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container .section-one .main-form a:hover {
  color: #000000;
}

.container .section-two {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-two button {
  padding: 0.8rem 1.5rem;
  width: 22rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  font-size: medium;
  background-color: #F99D9D;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.container .section-two button:hover {
  background: #f33d3d radial-gradient(circle, transparent 1%, #f33d3d 1%) center/15000%;
}

.container .section-two button:active {
  background-color: #ee0f0f;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.container_registration {
  height: 75vh;
  width: 60vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_registration .title {
  font-size: large;
  margin-top: 5rem;
}

.container_registration .form {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container_registration .form .user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container_registration .form .user-details .input-box {
  margin: auto;
  width: 370px;
}

.container_registration .form .user-details .input-box .details {
  font-weight: 500;
  margin-bottom: 5px;
}

.container_registration .form .user-details .input-box .input {
  height: 45px;
  width: 120%;
}

.container_registration .section-two {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_registration .section-two button {
  padding: 0.8rem 1.5rem;
  width: 22rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  font-size: medium;
  background-color: #F99D9D;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.container_registration .section-two button:hover {
  background: #f33d3d radial-gradient(circle, transparent 1%, #f33d3d 1%) center/15000%;
}

.container_registration .section-two button:active {
  background-color: #ee0f0f;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.container_registration .section-three {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_registration .section-three .space {
  width: 30px;
  height: auto;
  display: inline-block;
}

.container_registration .section-three button {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 1.5rem;
  width: 22rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  font-size: medium;
  background-color: #F99D9D;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.container_registration .section-three button:hover {
  background: #f33d3d radial-gradient(circle, transparent 1%, #f33d3d 1%) center/15000%;
}

.container_registration .section-three button:active {
  background-color: #ee0f0f;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.container-ads {
  height: 80vh;
  width: 70vw;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-ads .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: large;
  margin-bottom: 10px;
}

.container-ads form .ads-details .section-one .input-box {
  margin-left: 70px;
}

.container-ads form .ads-details .section-one .input-box .details {
  margin-right: 42px;
  padding-right: 10px;
}

.container-ads form .ads-details .section-one .input-box .detailsId {
  margin-right: 62px;
  padding-right: 10px;
}

.container-ads form .ads-details .section-one .input-box .details2 {
  margin-right: 27px;
}

.container-ads form .ads-details .section-one .selector {
  margin-left: 65px;
  margin-bottom: 10px;
}

.container-ads form .ads-details .section-one .selector .currency {
  margin-left: 29px;
  padding: 0.8rem 1rem;
  width: 22rem;
  border: 0.01rem solid #F99D9D;
  color: #F99D9D;
  background-color: #F5DDDD;
  border-radius: 0.2rem;
  margin-bottom: 0.8rem;
  resize: vertical;
  margin-top: 15px;
}

.container-ads form .ads-details .section-two .input-text .info {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #F99D9D;
  border-radius: 4px;
  background-color: #F5DDDD;
  resize: none;
}

.container-ads form .ads-details .section-three {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-ads form .ads-details .section-three button {
  padding: 0.8rem 1.5rem;
  width: 22rem;
  border-radius: 0.2rem;
  outline: none;
  border: none;
  font-size: medium;
  background-color: #F99D9D;
  color: white;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.container-ads form .ads-details .section-three button:hover {
  background: #f33d3d radial-gradient(circle, transparent 1%, #f33d3d 1%) center/15000%;
}

.container-ads form .ads-details .section-three button:active {
  background-color: #ee0f0f;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.adscontainer {
  overflow-y: scroll;
  height: 45rem;
  width: 70vw;
}

.adscontainer .title {
  margin-left: 20px;
  color: #8e60c4;
}

.adscontainer .title .space {
  width: 30px;
  height: auto;
  display: inline-block;
}

.adscontainer .ads-container {
  width: 60vw;
  display: block;
  margin-left: 20px;
  border: 2px solid #F99D9D;
  background-color: white;
  border-radius: 20px;
  padding: 0.8rem 1rem;
  margin-bottom: 0.8rem;
  -webkit-box-shadow: 5px 5px;
          box-shadow: 5px 5px;
}

.adscontainer .ads-container .space {
  width: 50px;
  height: auto;
  display: inline-block;
}

.adscontainer .ads-container button {
  margin-left: 400px;
  font-size: 15px;
  color: white;
  background-color: #F99D9D;
  margin-bottom: 0.8rem;
  width: 10rem;
  height: 2rem;
  border: #F99D9D 0.01rem solid;
}

.adscontainer .ads-container button:hover {
  background-color: #8e60c4;
  color: #000000;
}

.topnav {
  margin-bottom: 40px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #F5DDDD;
  color: #8e60c4;
}

@media screen and (max-width: 650px) {
  .logo {
    height: 1rem;
    size: 1rem;
  }
  .a .search_ads .button_med {
    width: 5rem;
  }
  .info {
    margin-left: 10px;
  }
  .info .hero_font {
    font-size: 2.1875rem;
  }
  .button_med {
    width: 5rem;
  }
  .container_registration {
    height: 25rem;
  }
  .container_registration .form .user-details {
    overflow-y: scroll;
  }
  .container_registration .form .user-details .input-box {
    width: 5rem;
  }
  .container_registration .form .user-details .input-box .input {
    width: 5rem;
  }
  .container_registration .section-two button {
    width: 5rem;
  }
  .container_registration .section-three button {
    width: 5rem;
  }
  .adscontainer {
    height: 35rem;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 1175px) {
  .container-ads {
    height: 35rem;
  }
  .container-ads .form input {
    width: 15rem;
  }
  .container-ads .form .currency {
    width: 15rem;
  }
  .container-ads .section-three button {
    width: 10rem;
  }
  .container {
    height: 35rem;
  }
  .container .section-one .main-form input {
    width: 15rem;
  }
  .container .section-one .main-form button {
    width: 15rem;
  }
  .container .section-two button {
    width: 15rem;
  }
  .container_registration {
    height: 35rem;
  }
  .container_registration .form .user-details {
    overflow-y: scroll;
  }
  .container_registration .form .user-details .input-box {
    width: 15rem;
  }
  .container_registration .form .user-details .input-box .input {
    width: 15rem;
  }
  .container_registration .section-two button {
    width: 15rem;
  }
  .container_registration .section-three button {
    width: 10rem;
  }
  .adscontainer {
    height: 35rem;
    overflow-y: scroll;
  }
}
/*# sourceMappingURL=style.css.map */